language: php

before_script:
  - curl http://cs.sensiolabs.org/get/php-cs-fixer.phar -o php-cs-fixer.phar

script:
  - phpunit
  - php php-cs-fixer.phar --dry-run -v fix .

php:
  - 5.2
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - hhvm

matrix:
  allow_failures:
    - php: hhvm # See https://github.com/facebook/hhvm/pull/1860