<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" colors="true" bootstrap="./test/bootstrap.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">./src/Mustache</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Mustache">
      <directory suffix="Test.php">./test</directory>
      <exclude>./test/Mustache/Test/FiveThree</exclude>
    </testsuite>
    <testsuite name="Mustache FiveThree">
      <directory suffix="Test.php" phpVersion="5.3.0" phpVersionOperator="&gt;=">./test/Mustache/Test/FiveThree</directory>
    </testsuite>
  </testsuites>
</phpunit>
